*[ng-click]{
  cursor: pointer;
}

div.guests-page{
  td.actions {
    width: 3em;
    & > i.fa { margin-right: .3em; }
  }

  .banned{
    color: #999;
  }
}



div.members-page{
  td.actions {
    & > i.fa { margin-right: .3em; }
  }

  .ordinary{
    color: #ddd;
  }
}


div.user-detail-page{
  div.header-roles{
    span {
      padding: 0.3em;
    }
  }
}
