
//- Navigation
nav.navbar(class="navbar-default navbar-fixed-top")
  .container
    //- Brand and toggle get grouped for better mobile display
    .navbar-header(class="page-scroll")
      button.navbar-toggle(type="button" ng-click="vm.menu.toggle()")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="#" ng-click="vm.scrollTop()") U2W

    //- Collect the nav links, forms, and other content for toggling
    .navbar-collapse(collapse="vm.menu.collapse")
      ul.nav(class="navbar-nav navbar-right")
        li.hidden

        li(ng-if="vm.credenciais.me" du-scrollspy="team")
          a(href="#team" du-smooth-scroll ng-click="vm.menu.close()") Tools

        li(du-scrollspy="about")
          a(href="#about" du-smooth-scroll ng-click="vm.menu.close()") Sobre

        li
          a(ui-sref="state1" ng-click="vm.menu.close()") State 1

        li
          a(ng-show="vm.credenciais.me" ng-click="vm.credenciais.logout()" href="#") Sair
          a(ng-hide="vm.credenciais.me" target="_self" href="/auth/facebook")
            i.fa(class="fa-fw fa-facebook-square")
            |  Entrar

//- Header
header
  .container
    .row
      .col-lg-12
        img.img-responsive( width="200" height="200" src="img/logo.png" alt="")
        .intro-text
          span.name United To Win
          span.skills Matar, roubar e destruir

//- Portfolio Grid Section
section#team(ng-include="'views/main/member-content.html'" ng-if="vm.credenciais.me")

//- About Section -->
section#about.success
  .container
    .row
      .col-lg-12(class="text-center")
        h2 About
        hr.star-light
    .row
      .col-lg-4(class="col-lg-offset-2")
        p Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.
      .col-lg-4
        p Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!
      .col-lg-8(class="col-lg-offset-2 text-center")
        a.btn(href="#" class="btn-lg btn-outline")
          i.fa(class="fa-download")
          |  Download Theme

//- Footer
footer.text-center
  .footer-above
    .container
      .row
        .footer-col(class="col-sm-4")
          h3 Sobre U2W
          p United to Win, é um clan de <a target="_blank" href="http://clashofclans.com/">Clash of Clans</a> formado por amigos que adoram saquear as vilas alheias e guerrear 3 vezes por semana.

        .footer-col(class="col-sm-4")

        .footer-col(class="col-sm-4")
          h3 Bouledogue
          p
            | Desenvolvimento de Sites, Apps e Sistemas
            a(target="_blank" href="http://www.bouledogue.me/")
             |  venha nos conhecer



  .footer-below
    .container
      .row
        .col-lg-12 Copyright &copy; U2W 2014

//- Scroll to Top Button (Only visible on small and extra-small screen sizes)
.scroll-top(class="visible-xs visble-sm" ng-click="vm.scrollTop()")
  a.btn-social(href="#" class="btn-outline")
    i.fa(class="fa-chevron-up")

//- Modal
.modal(class="portfolio-modal" ng-class="{'show-modal': vm.modal.active}")
  .modal-content
    .close-modal(ui-sref="home")
      .lr
        .rl
    .container
      .row
        .col-lg-8(class="col-lg-offset-2")
          .modal-body
            a(ui-sref="state1") State 1
            a(ui-sref="state2") State 2
            div(ui-view="")
