doctype
html(ng-app="app" lang="en")
  head
    base(href="/")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="")
    meta(name="author" content="")
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/freelancer.css")
    link(rel="stylesheet" href="/fonts/font-awesome/css/font-awesome.min.css" type="text/css")
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700" type="text/css")
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" type="text/css")
    | <!--[if lt IE 9]>
    |   <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    |   <script type="text/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    | <![endif]-->
    title Freelancer - Start Bootstrap Theme
  body(ng-controller="AppCtrl as vm" id="page-top" class="index" ng-class="{'modal-open': vm.modal.active}")
    != yield

    //- libs
    script(type='text/javascript' src="/js/lib/jquery.js")
    script(type='text/javascript' src="/js/lib/angular.min.js")
    script(type='text/javascript' src="/js/lib/angular-animate.min.js")
    script(type='text/javascript' src="/js/lib/angular-touch.min.js")
    script(type='text/javascript' src="/js/lib/angular-ui-router.min.js")
    script(type='text/javascript' src="/js/lib/bootstrap.min.js")
    script(type='text/javascript' src="/js/lib/du-scroll.min.js")
    script(type='text/javascript' src="/js/lib/ui-bootstrap-tpls-0.12.1.min.js")

    //- scripts
    script(type='text/javascript' src="/js/app.js")
    script(type='text/javascript' src="/js/routes.js")



</body>

</html>
