section#portfolio
  .container
    .row
      .col-lg-12(class="text-center")
        h2 Opções
        hr.star-primary
    .row
      .portfolio-item(class="col-sm-4")
        a.portfolio-link(ui-sref="home")
          .caption
            .caption-content
              i.fa(class="fa-search-plus fa-3x")
          img.img-responsive(src="img/portfolio/guerras.jpg")
      .portfolio-item(class="col-sm-4")
        a.portfolio-link(ui-sref="home")
          .caption
            .caption-content
              i.fa(class="fa-search-plus fa-3x")
          img.img-responsive(src="img/portfolio/layouts.jpg")
      .portfolio-item(class="col-sm-4")
        a.portfolio-link(ui-sref="home")
          .caption
            .caption-content
              i.fa(class="fa-search-plus fa-3x")
          img.img-responsive(src="img/portfolio/dicas.jpg")
      .portfolio-item(class="col-sm-4")
        a.portfolio-link(ui-sref="members")
          .caption
            .caption-content
              i.fa(class="fa-search-plus fa-3x")
          img.img-responsive(src="img/portfolio/membros.jpg")
      .portfolio-item(class="col-sm-4")
        a.portfolio-link(ui-sref="guests")
          .caption
            .caption-content
              i.fa(class="fa-search-plus fa-3x")
          img.img-responsive(src="img/portfolio/safe.png")
      .portfolio-item(class="col-sm-4")
        a.portfolio-link(ui-sref="home")
          .caption
            .caption-content
              i.fa(class="fa-search-plus fa-3x")
          img.img-responsive(src="img/portfolio/submarine.png")



