.user-detail-page(class="container-fluid")
  div(ng-if="ctrl.loading")
    i.fa(class="fa-circle-o-notch fa-spin")
    |  Carregando dados do Usuário...

  .row(ng-hide="ctrl.loading" )
    div.erro(ng-if="ctrl.erro") {{ctrl.erro}}


    img.img-circle(ng-src="{{ctrl.user.picture_url}}")

    hr

    p {{ctrl.user.name}}

    p {{ctrl.user.email}}

    p
      a(ng-href="{{ctrl.user.profile_url}}" target="_blank") {{ctrl.user.provider}}

    hr
